<mat-toolbar>
  <button mat-raised-button routerLink="/pacient/{{this.rodnecislo}}">Údaje</button>
  <button mat-raised-button routerLink="/ochorenia/{{this.rodnecislo}}">Ochorenia</button>
  <button mat-raised-button routerLink="/lieky/{{this.rodnecislo}}">Lieky</button>
  <button mat-raised-button routerLink="/doktori/{{this.rodnecislo}}">Doktori</button>
  <button mat-raised-button routerLink="/zaznamy/{{this.rodnecislo}}">Záznamy</button>
  <button mat-raised-button routerLink="/odporucacieLisky/{{this.rodnecislo}}">Odporučenia</button>
</mat-toolbar>
