mat-card {
  margin-top: 3%;
  max-width: 85%;

  margin-left: auto;
  margin-right: auto;
}

mat-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

mat-toolbar {
  height: fit-content;
  align-items: center;

  margin-left: auto;
  margin-right: auto;

}

mat-form-field {
  margin-top: 2%;
}

.filterButtons {
  margin-right: 0;
  margin-left: auto;
}

.filterButtons button {
  margin-left: 2px;
}

.inputs mat-form-field {
  margin-right: 1%;
}

.podSeba {
  display: flex;
  flex-direction: column;
}

#printButton {
  position: fixed;
  right: 40px;
  bottom: 30px;

  width: 50px;
  height: 50px;

  background-color: #ec6602;
}

@media print {
  .panel {
    visibility: hidden;
    height: 0;
  }

  app-doktor-zdielanie-panel {
    visibility: hidden;
    height: 0;
  }

  #printButton {
    visibility: hidden;
    width: 0;
  }
}

