<app-panel></app-panel>
<app-navbar></app-navbar>



<mat-card>
  <mat-card-header>
    <mat-card-title>
      Zmena hesla
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <form>
      <div class="popis"><b><i>Vaše staré heslo: </i></b></div>
      <div class="inputokno">
        <mat-form-field>
          <input type="text" matInput>
        </mat-form-field>
      </div>
      <br>

      <div class="popis"><b><i>Vaše nové heslo: </i></b></div>
      <div class="inputokno">
        <mat-form-field>
          <input type="text" matInput>
        </mat-form-field>
      </div>
      <br>

      <div class="popis"><b><i>Zopakujte nové heslo: </i></b></div>
      <div class="inputokno">
        <mat-form-field>
          <input type="text" matInput>
        </mat-form-field>
      </div>
      <br>

      <div></div>

      <button mat-raised-button> Aktualizuj heslo</button>
    </form>
  </mat-card-content>
</mat-card>
