<app-panel-doktor></app-panel-doktor>
<app-innerpanel-doktorpacient></app-innerpanel-doktorpacient>

<mat-card class="first">
  <mat-card-header>
    <mat-card-title>Alergie</mat-card-title>
  </mat-card-header>

  <mat-card-content *ngFor="let ale of alergie">
    <div class="innerData">
      <i *ngIf="ale.kodalergieNavigation">
        <b>{{ale.kodalergieNavigation.nazov}}</b> -
        {{ale.informacie}}
      </i>
    </div>

  </mat-card-content>
</mat-card>


<button id="printButton" mat-mini-fab matTooltip="Primary" color="primary" aria-label="Print button" (click)="printPage()">
  <mat-icon>print</mat-icon>
</button>

<button mat-icon-button [matMenuTriggerFor]="menu" id="downloadButton">
  <mat-icon>download</mat-icon>
</button>

<div class="menu">
  <mat-menu #menu="matMenu">
    <buttom mat-menu-item (click)="downloadFile()">
      <mat-icon>download</mat-icon>
      CSV
    </buttom>

    <buttom mat-menu-item (click)="downloadJson()">
      <mat-icon>download</mat-icon>
      JSON
    </buttom>
  </mat-menu>
</div>
