<app-panel-doktor></app-panel-doktor>
<app-innerpanel-doktorpacient></app-innerpanel-doktorpacient>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      Alergia
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    Daniel Lieskovský
  </mat-card-content>

  <mat-card-content>
    Kozmetické výrobky: Výrobky obsahujúce bronopol
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content class="inputPole">
    <b>Vyber oddelenie:</b>
    <form>
      <mat-form-field>
        <mat-label>Oddelenie</mat-label>
        <mat-select>
          <mat-option >
            Detské oddelenie
          </mat-option>
        </mat-select>
      </mat-form-field>

      <b>Vyber doktora:</b>
      <mat-form-field>
        <mat-label>Doktor</mat-label>
        <mat-select>
          <mat-option >
            MUDr. Zuzana Zboranová
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <div class="formButtons">
      <button  mat-raised-button color="primary">Zdielaj</button>
    </div>
  </mat-card-content>
</mat-card>
