<div class="component">
  <mat-toolbar>
    <img src="assets/imgs/frilogo.png" alt="FRI logo">
    <button mat-raised-button>Nemocnica</button>
  </mat-toolbar>

  <div class="flex">
    <mat-card class="logincard">
      <mat-card-content>
        Vitajte,
        <br>
        pre pokračovanie sa prihláste!
        <br>
        <br>
        <form class="example-form" [formGroup]="loginForm">
          <mat-form-field>
            <input type="email" matInput placeholder="Rodné čislo" formControlName="rodneCislo" [(ngModel)]="this.user.rodneCislo">
            <mat-error *ngIf="this.loginForm.get('rodneCislo')?.touched && this.loginForm.get('rodneCislo')?.hasError('required')">
              Zadaj rodné číslo!</mat-error>
            <mat-error *ngIf="this.loginForm.get('rodneCislo')?.touched && this.loginForm.get('rodneCislo')?.hasError('pattern')">
              Zadaj valídne rodné čislo!</mat-error>

          </mat-form-field>
          <br>
          <mat-form-field>
            <input type="password" matInput placeholder="Heslo" formControlName="password" [(ngModel)]="this.user.heslo">
            <mat-error
              *ngIf="this.loginForm.get('password')?.touched && this.loginForm.get('password')?.hasError('required')">
              Zadaj heslo</mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>
      <div class="buttons">
        <button mat-raised-button color="warn">Registorvať</button>
        <button mat-raised-button class="loginButton" (click)="login(this.user)">Prihlásiť</button>
      </div>
    </mat-card>
  </div>
</div>
