<mat-toolbar>
  <img src="assets/imgs/frilogo.png" alt="FRI logo">
  <button mat-raised-button routerLink="/">Návrat</button>
</mat-toolbar>


<mat-card>
  <mat-card-header>
    <mat-card-title>
      Vitajte,
      <br>
      pre registráciu vyplňte nasledujúce údaje
    </mat-card-title>
  </mat-card-header>


  <mat-card-content>
    <br>
    <br>
    <form class="example-form" [formGroup]="loginForm">
      <div class="popis"> <b><i>Vaše rodné číslo: </i></b> </div>
      <div class="inputokno">
      <mat-form-field>
        <input type="email" matInput placeholder="0101991234" formControlName="rodneCislo" [(ngModel)]="this.user.rodnecislo">
        <mat-error *ngIf="this.loginForm.get('rodneCislo')?.touched
                        && this.loginForm.get('rodneCislo')?.hasError('required')">
          Zadaj rodné číslo!
        </mat-error>

        <mat-error *ngIf="this.loginForm.get('rodneCislo')?.touched
                        && this.loginForm.get('rodneCislo')?.hasError('pattern')">
          Zadaj rodné čislo bez znakov!
        </mat-error>

        <mat-error *ngIf="this.loginForm.get('rodneCislo')?.hasError('minlength') ||
                          this.loginForm.get('rodneCislo')?.hasError('maxlength')">
          Zadaj valídne rodné číslo!
        </mat-error>
      </mat-form-field>
      </div>
      <br>

      <div class="popis"><b><i>Vaše meno: </i></b></div>
      <div class="inputokno">
        <mat-form-field>
          <input type="text" matInput placeholder="Meno" formControlName="meno" [(ngModel)]="this.user.meno">
          <mat-error
            *ngIf="this.loginForm.get('meno')?.touched && this.loginForm.get('meno')?.hasError('required')">
            Zadajte Vaše meno!
          </mat-error>

          <mat-error
            *ngIf="this.loginForm.get('meno')?.touched && this.loginForm.get('meno')?.hasError('pattern')">
            Zadajte meno!
          </mat-error>

        </mat-form-field>
      </div>
      <br>

      <div class="popis"><b><i>Vaše priezvisko: </i></b></div>
      <div class="inputokno">
        <mat-form-field>
          <input type="text" matInput placeholder="Priezvisko" formControlName="priezvisko" [(ngModel)]="this.user.priezvisko">
          <mat-error
            *ngIf="this.loginForm.get('priezvisko')?.touched && this.loginForm.get('priezvisko')?.hasError('required')">
            Zadaj Vaše priezvisko!
          </mat-error>

          <mat-error
            *ngIf="this.loginForm.get('priezvisko')?.touched && this.loginForm.get('priezvisko')?.hasError('pattern')">
            Zadajte priezvisko!
          </mat-error>

        </mat-form-field>
      </div>
      <br>

      <div class="popis"><b><i>Vaša poisťovňa: </i></b></div>
      <div class="inputokno">
        <mat-form-field>
          <mat-label>Vyber poisťovňu</mat-label>
          <mat-select formControlName="poistovna">
            <mat-option *ngFor="let poistovna of poistovne" [value]="poistovna.nazov" (click)="setPoistovnaId(poistovna.idpoistovne)">
              {{this.poistovna.nazov}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="this.loginForm.get('poistovna')?.touched && this.loginForm.get('poistovna')?.hasError('required')">
            Zadaj poistovňu!
          </mat-error>
        </mat-form-field>
      </div>
      <br>

      <div class="popis"><b><i>Bydlisko: </i></b></div>
      <div class="inputokno">
        <mat-form-field>
          <mat-label>Vyber mesto</mat-label>
          <mat-select formControlName="bydlisko">
            <mat-option *ngFor="let mesto of this.mesta" [value]="mesto.nazov" (click)="setMestoId(mesto.idmesta)">
              {{this.mesto.nazov}}
            </mat-option>
          </mat-select>

          <mat-error
            *ngIf="this.loginForm.get('bydlisko')?.touched && this.loginForm.get('bydlisko')?.hasError('required')">
            Zadaj bydlisko!
          </mat-error>

        </mat-form-field>
      </div>
      <br>

      <div class="popis"><b><i>Ulica bydliska: </i></b></div>
      <div class="inputokno">
        <mat-form-field>
          <input type="text" matInput placeholder="Ulica" formControlName="ulica" [(ngModel)]="this.user.ulica">
          <mat-error
            *ngIf="this.loginForm.get('ulica')?.touched && this.loginForm.get('ulica')?.hasError('pattern')">
            Len čísla a písmená!
          </mat-error>
        </mat-form-field>
      </div>
      <br>

      <div class="popis"><b><i>Vaše heslo: </i></b></div>
      <div class="inputokno">
        <mat-form-field>
          <input type="password" matInput placeholder="Heslo" formControlName="password" [(ngModel)]="this.user.heslo">
          <mat-error
            *ngIf="this.loginForm.get('password')?.touched && this.loginForm.get('password')?.hasError('required')">
            Zadaj heslo!
          </mat-error>
        </mat-form-field>
      </div>
      <br>

      <div class="popis"><b><i>Váš email: </i></b></div>
      <div class="inputokno">
        <mat-form-field>
          <input type="text" matInput placeholder="Email" formControlName="email" [(ngModel)]="this.user.email">
          <mat-error
            *ngIf="this.loginForm.get('email')?.touched && this.loginForm.get('email')?.hasError('required')">
            Zadajte Váš email!
          </mat-error>

          <mat-error
            *ngIf="this.loginForm.get('email')?.touched && this.loginForm.get('email')?.hasError('email')">
            Zadajte email!
          </mat-error>
        </mat-form-field>
      </div>
      <br>
      <div></div>
      <button class="inputokno" mat-raised-button color="warn" [disabled]="!this.loginForm.valid" (click)="register()">Registrácia</button>
    </form>


  </mat-card-content>
</mat-card>
