<mat-toolbar>
  <img src="assets/imgs/frilogo.png" alt="FRI logo">
  <button mat-raised-button [matMenuTriggerFor]="menu">{{this.menoPriezvisko}}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/doktor/{{this.osobneCislo}}">Zobraziť údaje</button>
    <button mat-menu-item routerLink="/doktor/{{this.osobneCislo}}/pacienti">Zobraziť pacientov</button>
    <button mat-menu-item routerLink="/vytazenie/{{this.osobneCislo}}">Graf vyťaženia</button>
    <button mat-menu-item routerLink="/doktor/{{this.osobneCislo}}/pridajPacienta">Pridať pacienta</button>
    <button mat-menu-item routerLink="/zdielaneMne/{{this.osobneCislo}}/alergie">Zdieľané mne</button>
    <button mat-menu-item routerLink="/zdielaneMnou/{{this.osobneCislo}}/alergie">Zdieľané mnou</button>
    <button mat-menu-item (click)="logout()">Odhlásenie</button>
  </mat-menu>
</mat-toolbar>
