img {
  max-width: 35%;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

mat-card {
  display: flex;
  flex-direction: row;
  min-height: 15%;
  min-width: 28%;
  max-width: 29%;
  margin-top: 2%;
}

.centered {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
