.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

mat-card {
  max-width: 45%;
  min-width: 40%;
  height: fit-content;
  font-size: larger;
  margin-top: 3%;
  background-color: #e8e8e8;
}

mat-card-header {
  align-self: center;
}

mat-card-content {
  align-self: center;
  margin-top: 1%;
  margin-left: 1%;
}

.innerCards {
  max-width: 45%;
  min-width: 40%;
  margin-top: 2%;
}

.innerCards mat-card {
  min-width: 100%;
}

.upravButton button {
  margin-right: 1%;
}

.upravButton {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

#printButton {
  position: fixed;
  right: 40px;
  bottom: 30px;

  width: 50px;
  height: 50px;

  background-color: #ec6602;
}

#downloadButton {
  position: fixed;
  left: 35px;
  bottom: 30px;

  width: 50px;
  height: 50px;

  background-color: #ec6602;
}

@media only screen and (max-width: 650px) {
  .cards {
    flex-direction: column;
  }

  .cards mat-card {
    min-width: 85%;
    max-width: 90%;

    margin-left: auto;
    margin-right: auto;
  }

  .innerCards {
    min-width: 85%;
    max-width: 90%;

    margin-left: auto;
    margin-right: auto;
  }
}

@media print {
  .cards {
    flex-direction: column;
  }

  .cards mat-card {
    min-width: 85%;
    max-width: 90%;

    margin-left: auto;
    margin-right: auto;
  }

  .innerCards {
    min-width: 85%;
    max-width: 90%;

    margin-left: auto;
    margin-right: auto;
  }

  app-navbar {
    visibility: hidden;
  }

  #printButton {
    visibility: hidden;
  }

  .upravButton {
    display: none;
  }

  #downloadButton {
    display: none;
  }
}

