<app-panel-doktor></app-panel-doktor>
<app-doktor-panel></app-doktor-panel>

<div class="panel">
  <mat-toolbar>
    <div class="inputs">
      <mat-form-field>
        <mat-label>Meno</mat-label>
        <input matInput type="text" [(ngModel)]="this.menoFilter" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Priezvisko</mat-label>
        <input matInput type="text" [(ngModel)]="this.priezviskoFilter">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Rodné číslo</mat-label>
        <input matInput type="text" [(ngModel)]="this.rodnecisloFilter" >
      </mat-form-field>
    </div>

    <div class="filterButtons">
      <button mat-raised-button (click)="filter()">Filtruj</button>
      <button mat-raised-button (click)="reset()">Reset</button>
    </div>
  </mat-toolbar>
</div>

<div class="cards" *ngFor="let pac of pacientiFiltered">
  <mat-card routerLink="/doktor/{{pac.osobnecislo}}/{{pac.rodnecislo}}">
    <mat-card-content><b><i>Pacient:</i></b></mat-card-content>

    <div class="leftData" *ngIf="pac.rodnecisloNavigation">
      <mat-card-content><b><i>{{pac.rodnecisloNavigation.meno}}
        {{pac.rodnecisloNavigation.priezvisko}}
        -
        {{pac.rodnecislo}}</i></b></mat-card-content>
    </div>
  </mat-card>
</div>
