mat-card {
  min-width: 65%;
  max-width: 70%;

  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

mat-card-header {
  justify-content: center;
}

mat-card-title {
  font-size: x-large;
}

.aktualOddelenie {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  font-size: large;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-form-field {
  width: 60%;

  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
}

button {
  width: 60%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}
