<app-panel></app-panel>
<app-navbar></app-navbar>


<div class="cards">
  <div class="ukoncene">

    <div class="filter">
      <mat-card>
        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Zadaj časový interval (mm-dd-yyyy)</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date" [(ngModel)]="this.startDate">
              <input matEndDate placeholder="End date" [(ngModel)]="this.endDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>

          <div class="filterButtons">
            <button mat-raised-button (click)="filterUkoncene()">Filtruj</button>
            <button mat-raised-button (click)="resetUkoncene()">Reset</button>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Prekonené ochorenia
        </mat-card-title>
      </mat-card-header>

      <mat-card-content *ngFor="let pacOchorenie of filteredOchorenia">
        <div *ngIf="pacOchorenie.datumdo">
          <mat-card class="innerCard">
            <mat-card-content>
              <b><i>Dátum od:</i></b> {{pacOchorenie.datumod | date: "dd.MM.yyyy"}}
            </mat-card-content>

            <mat-card-content>
              <b><i>Dátum do:</i></b> {{pacOchorenie.datumdo | date: "dd.MM.yyyy"}}
            </mat-card-content>

            <mat-card-content *ngIf="pacOchorenie.kodochoreniaNavigation">
              <b><i>Ochorenie:</i></b> {{pacOchorenie.kodochoreniaNavigation.nazov}}
            </mat-card-content>

            <mat-card-content *ngIf="pacOchorenie.dalsiaspecifikacia">
              <b><i>Ďalšie informácie:</i></b> {{pacOchorenie.dalsiaspecifikacia}}
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="neukoncene">

    <div class="filter">
      <mat-card>
        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Zadaj časový interval (mm-dd-yyyy)</mat-label>
            <mat-date-range-input [rangePicker]="picker2">
              <input matStartDate placeholder="Start date" [(ngModel)]="this.startDateTwo">
              <input matEndDate placeholder="End date" [(ngModel)]="this.endDateTwo">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-date-range-picker #picker2></mat-date-range-picker>
          </mat-form-field>

          <div class="filterButtons">
            <button mat-raised-button (click)="filterNeukoncene()">Filtruj</button>
            <button mat-raised-button (click)="resetNeukoncene()">Reset</button>
          </div>

        </mat-card-content>
      </mat-card>
    </div>

    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Pretrvávajúce ochorenia
        </mat-card-title>
      </mat-card-header>
      <mat-card-content *ngFor="let pacOchorenie of filteredOchoreniaTwo">
        <div *ngIf="!pacOchorenie.datumdo">
          <mat-card class="innerCard">
            <mat-card-content>
              <b><i>Dátum od:</i></b> {{pacOchorenie.datumod | date: "dd.MM.yyyy"}}
            </mat-card-content>

            <mat-card-content>
              <b><i>Dátum do:</i></b> -
            </mat-card-content>

            <mat-card-content *ngIf="pacOchorenie.kodochoreniaNavigation">
              <b><i>Ochorenie:</i></b> {{pacOchorenie.kodochoreniaNavigation.nazov}}
            </mat-card-content>

            <mat-card-content *ngIf="pacOchorenie.dalsiaspecifikacia">
              <b><i>Ďalšie informácie:</i></b> {{pacOchorenie.dalsiaspecifikacia}}
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<button id="printButton" mat-mini-fab matTooltip="Primary" color="primary" aria-label="Print button" (click)="printPage()">
  <mat-icon>print</mat-icon>
</button>

<button mat-icon-button [matMenuTriggerFor]="menu" id="downloadButton">
  <mat-icon>download</mat-icon>
</button>

<div class="menu">
  <mat-menu #menu="matMenu">
    <buttom mat-menu-item (click)="downloadFile()">
      <mat-icon>download</mat-icon>
      CSV
    </buttom>

    <buttom mat-menu-item (click)="downloadJson()">
      <mat-icon>download</mat-icon>
      JSON
    </buttom>
  </mat-menu>
</div>
