<app-panel></app-panel>
<app-navbar></app-navbar>

<div class="cards">
  <div class="ukoncene">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Prekonené
        </mat-card-title>
      </mat-card-header>

      <mat-card-content *ngFor="let pacOchorenie of ochorenia">
        <div *ngIf="pacOchorenie.datumdo">
          <mat-card class="innerCard">
            <mat-card-content>
              <b><i>Datum od:</i></b> {{pacOchorenie.datumod | date: "dd.MM.yyyy"}}
            </mat-card-content>

            <mat-card-content>
              <b><i>Datum do:</i></b> {{pacOchorenie.datumdo | date: "dd.MM.yyyy"}}
            </mat-card-content>

            <mat-card-content *ngIf="pacOchorenie.kodochoreniaNavigation">
              <b><i>Ochorenie:</i></b> {{pacOchorenie.kodochoreniaNavigation.nazov}}
            </mat-card-content>

            <mat-card-content *ngIf="pacOchorenie.dalsiaspecifikacia">
              <b><i>Dalšie informácie:</i></b> {{pacOchorenie.dalsiaspecifikacia}}
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="neukoncene">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Pretrvávajúce
        </mat-card-title>
      </mat-card-header>
      <mat-card-content *ngFor="let pacOchorenie of ochorenia">
        <div *ngIf="!pacOchorenie.datumdo">
          <mat-card class="innerCardTwo">
            <mat-card-content>
              <b><i>Datum od:</i></b> {{pacOchorenie.datumod | date: "dd.MM.yyyy"}}
            </mat-card-content>

            <mat-card-content>
              <b><i>Datum do:</i></b> -
            </mat-card-content>

            <mat-card-content *ngIf="pacOchorenie.kodochoreniaNavigation">
              <b><i>Ochorenie:</i></b> {{pacOchorenie.kodochoreniaNavigation.nazov}}
            </mat-card-content>

            <mat-card-content *ngIf="pacOchorenie.dalsiaspecifikacia">
              <b><i>Dalšie informácie:</i></b> {{pacOchorenie.dalsiaspecifikacia}}
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
