.cards {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 2%;
}

.innerCard {
  margin-bottom: 2%;
}

.ukoncene {
  min-width: 40%;
  max-width: 45%;
  text-align: center;
}
.neukoncene {
  min-width: 40%;
  max-width: 45%;
  text-align: center;
}

mat-card-header {
  justify-content: center;
  margin-bottom: 2%;
}

mat-card {
  background-color: #e8e8e8;
}

.filter {
  margin-bottom: 2%;

}

.filter mat-card-content {
  background-color: #fde3d2;
}

.filter mat-card-content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.filterButtons {
  margin-left: auto;
}

.filterButtons button {
  margin-left: 2px;
}

#printButton {
  position: fixed;
  right: 40px;
  bottom: 30px;

  width: 50px;
  height: 50px;

  background-color: #ec6602;
}

@media only screen and (max-width: 650px) {
  .cards {
    flex-direction: column;
  }

  .neukoncene {
    min-width: 85%;
    max-width: 90%;

    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
  }

  .ukoncene {
    min-width: 85%;
    max-width: 90%;

    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
  }

  .filter mat-card mat-card-content {
    flex-direction: column;
  }

  .filterButtons {
    margin: 0 auto 0 auto;
  }

  .filter mat-card mat-card-content mat-form-field{
    margin: 0 auto 0 auto;
  }

}

@media print {

  app-navbar {
    visibility: hidden;
  }

  .filterButtons {
    visibility: hidden;
  }

  .filter mat-card mat-card-content {
    flex-direction: column;
  }

  .filter mat-card {
    height: 100px;
  }

  #printButton {
    visibility: hidden;
  }
}




