mat-toolbar {
  background-color: #ec6602;
}

mat-toolbar img {
  height: 90%;
}

mat-toolbar button {
  margin-left: auto;
}

.adminButtons {
  background-color: #f9b591;
  display: flex;
  flex-direction: row;
}

.adminButtons button {
  margin-left: 1%;
}

mat-card {
  min-width: 85%;
  max-width: 90%;
  margin: 2% auto;
  flex-direction: row;
  font-size: large;
}

.cards {
  display: flex;
  flex-direction: column;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0;
  align-self: center;
  margin-right: 0;
  margin-left: auto;
}

mat-card-content {
  margin-top: 2%;
  margin-bottom: 2%;
}
